{% extends 'base.html.twig' %}

{% block title %}Hello BibliotecaController!{% endblock %}

{% block body %}
<div class="row">
    {% for cancion in canciones %}
        <div class="col-md-2 m-1 p-1">{{cancion.url}}</div>    
    {% else %}
        <div class="col-md-2">Error, no hay canciones</div>    
    {% endfor %}
</div>
{% endblock %}
