{% extends 'base.html.twig' %}

{% block title %}Hello BibliotecaController!{% endblock %}

{% block body %}
<div class="row ml-3">
    {% for cancion in canciones %}
        <div class="col-md-2 m-1 p-1"><a href="./assets/audio/{{ cancion.url }}">{{ cancion.url }}</a></div>    
    {% else %}
        <div class="col-md-2">Error, no hay canciones</div>    
    {% endfor %}
</div>
{% endblock %}
