#superior {
  border: 1px solid green;
}

#central {
  border: 1px solid cyan;
  position: relative;
  overflow-y: auto;
}

#cola, #result {
  border: 1px solid red;
}

#listas {
  border: 1px solid red;
}

#inferior {
  border: 1px solid orange;
}

/*Alturas*/
#superior, #inferior {
  height: 20%;
}

#central {
  height: 600px;
}
