<form>
    <div class="container-fluid m-2">
        <div class="row">
            <div id="botonBiblioteca" class="col-6">
                {# Botón para acceder a la biblioteca #}
                
                    <a class="navbar-brand" href="#">Biblioteca<i class="fa fa-folder" style="color:#FFFFFF;"></i></a>
               
            </div>
            {# <div id="busqueda" class="col-4">
                <div class="row">
                    <div class="col-8 p-0">
                        <input id='txtBuscar' type="text" name="txtBusqueda" class="form-control" placeholder="Buscar">
                    </div>
                    <div class="col-4 p-0">
                        <input id='btnBuscar' type="button" name="btnBuscar" class="btn btn-primary" value="Buscar">
                    </div>
                </div>
            </div> #}
            <div id="usuario" class="col-6">
            
                {# Cuenta del usuario #}

                
               {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}
            </div>
        </div>
    </div>
</form>
