<h4>Listas de reproducción</h4>

<table id='tablaListas'>
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="nombre">Nombre</th>
        </tr>
    </thead>
</table>



{% for cancion in listaReproduccion %}

    <div class="informacion">
            <span class="nombre" name="titulo">{{ cancion.url }}</span>
    </div>
    
{% else %}
    No hay elementos</br>
    <button id="btnCrearLista" class="float-right btn btn-primary"> <i class="fas fa-plus px-1"></i>Crear nueva lista</button>
{% endfor %}
