<h4>Listas de reproducción<span><button id="btnRecargar" class="btn btn-primary float-right"><i class="fas fa-sync"></i></button></span></h4>

<table id='tablaListas' class="mt-2">
    <thead>
        <tr>
            <th data-field="idLista">ID de la lista</th>
            <th data-field="nombre">Nombre</th>
        </tr>
    </thead>
</table>

<button id="btnCrearLista" class="mt-2 btn btn-primary"> <i class="fas fa-plus px-1"></i>Crear nueva lista</button>
