<audio id='player' src='cancion1.mp3'></audio>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div id="titulo" class="col-12">
            <h4>Reproduciendo<span id="pistaActual"></span></h4>
        </div>
        <div id="botones">
            <button id='btnPrevious' class="btn btn-primary d-inline-flex" type='button' value='Next'>
                <i class="fas fa-step-backward"></i></button>
            <button id='btnPause' class="btn btn-primary d-inline-flex" type='button' value='Pause'>
                <i class="fas fa-pause"></i></button>
            <button id='btnPlay' class="btn btn-primary d-inline-flex" type='button' value='Play'>
                <i class="fas fa-play"></i></button>
            <button id='btnNext' class="btn btn-primary d-inline-flex" type='button' value='Previous'>
                <i class="fas fa-step-forward"></i></button>
            <button id='btnStop' class="btn btn-primary d-inline-flex" type='button' value='Stop'>
                <i class="fas fa-stop"></i>
            </button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <input class="trackslider d-block" type="range" name="trackslider" id="">
    </div>
</div>
{#<br/>
<input class='btn-song' type='button' numeroCancion='0' value='Cancion 1'/>
<input class='btn-song' type='button' numeroCancion='1' value='Cancion 2'/> #}