
<h4>Reproduciendo</h4>
<audio id='player' src='cancion1.mp3'></audio>
<div class="container-fluid">
<div class="row d-flex justify-content-center">
    <div id="titulo" class="col-12">
        <span id="pistaActual"></span>
    </div>
    <div id="botones">
        <button id='btnPrevious' class="btn btn-primary d-inline-flex" type='button' value='Next'>
            <i class="fas fa-step-backward"></i></button>
        <button id='btnPlay' class="btn btn-primary d-inline-flex" type='button' value='Play'>
            <i class="fas fa-play"></i></button>
        <button id='btnNext' class="btn btn-primary d-inline-flex" type='button' value='Previous'>
            <i class="fas fa-step-forward"></i></button>
        <button id='btnStop' class="btn btn-primary d-inline-flex" type='button' value='Stop'>
            <i class="fas fa-stop"></i></button>
    </div>
</div>
</div>
{#<br/>
<input class='btn-song' type='button' numeroCancion='0' value='Cancion 1'/>
<input class='btn-song' type='button' numeroCancion='1' value='Cancion 2'/> #}
