
<h4>Reproduciendo</h4>

<audio id='player' src='cancion1.mp3'></audio>
<div class="container-fluid">
<div class="row d-flex justify-content-center">
    <div id="titulo">
    </div>
    <div id="botones">
        <input id='btnPlay' class="btn btn-primary d-inline-flex" type='button' value='Play'/>
        <input id='btnPrevious' class="btn btn-primary d-inline-flex" type='button' value='Next'/>
        <input id='btnNext' class="btn btn-primary d-inline-flex" type='button' value='Previous'/>
        <input id='btnStop' class="btn btn-primary d-inline-flex" type='button' value='Stop'/>
    </div>
</div>
</div>
{#<br/>
<input class='btn-song' type='button' numeroCancion='0' value='Cancion 1'/>
<input class='btn-song' type='button' numeroCancion='1' value='Cancion 2'/> #}
