
<h4>Reproduciendo</h4>

<audio id='player' src='./assets/audio/guile-theme-snes.mp3'></audio>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div id="titulo">
        </div>
        <div id="botones" class="col-4">
            <button id='btnPrevious' class="btn btn-primary d-inline-flex" type='button' value='Next'>
                <i class="fas fa-step-backward"></i></button>
            <button id='btnPause' class="btn btn-primary d-inline-flex" type='button' value='Next'>
                <i class="fas fa-pause"></i></button>
            <button id='btnPlay' class="btn btn-primary d-inline-flex" type='button' value='Play'>
                <i class="fas fa-play"></i></button>
            <button id='btnNext' class="btn btn-primary d-inline-flex" type='button' value='Previous'>
                <i class="fas fa-step-forward"></i></button>
            <button id='btnStop' class="btn btn-primary d-inline-flex" type='button' value='Stop'>
                <i class="fas fa-stop"></i></button>
            <button id='btnMute' class="btn btn-primary d-inline-flex" type='button' value='Stop'>
                <i class="fas fa-volume-up"></i></button>
            <input id="volumen" type="range" name="volumen">
        </div>
    </div>
    <div class="row d-flex justify-content-center" id="slidecontainer">
        <input class="my-1 col-4 trackslider" type="range" name="">
    </div>
</div>
{#<br/>
<input class='btn-song' type='button' numeroCancion='0' value='Cancion 1'/>
<input class='btn-song' type='button' numeroCancion='1' value='Cancion 2'/> #}
