<h4>Resultados de la búsqueda</h4>
    <table id='ColaReproduccion'>
        <thead>
            <tr>
                <th data-field='album'>Album</th>
                <th data-field='url'>URL</th>
                <th data-field='titulo'>Titulo</th>
                <th data-formatter='ns.formatearColumna'></th>
            </tr>
        </thead>
    </table>
