<h4>Resultados de la búsqueda</h4>
{% for cancion in canciones  %}

        <div id="pista" class="d-flex justify-content-start bg-primary p-1 hover">
            <div>
                <a class="playcancion" cancion="{{ loop.index0 }}">
                    <i class="fas fa-play-circle"></i>
                </a>
<<<<<<< HEAD
                <i class="far fa-heart"></i>
                <i class="fas fa-plus"></i>
            </div>
            <div class="informacion pl-2">
{#                <span class="text-uppercase" name="artista">{{ cancion.artista }}</span>#}
                <span class="nombre" name="titulo">{{ cancion.url }}</span>
=======
                <i id="corazon" class="far fa-heart px-1"></i>
                <i class="fas fa-plus px-1"></i>
>>>>>>> master
            </div>
        </div>
    
{% else %}
    No hay elementos, el campo de búsqueda estaba vacío.
{% endfor %}